@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.big-father {
    font-family: 'poppins', sans-serif;
    background-color: whitesmoke;
    display: flex;
    flex-wrap:wrap-reverse;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: 100vh;
    gap: 60px;
}


    /*   ALIGN HEADING    */

.heading {
    text-align: center;
    color: #4C4D60;
}
.heading .h11 {
    font-weight: 300;
}
.heading .heading-p {
    width: 531px;
    margin-top: 20px;
    opacity: .7;
}



    /* ALIGN BOXES */
.boxes {
    display: flex;
    align-items: center;
}
.cards {
    background-color: white;
    margin: 0 20px;
    max-width: 390px;
    height: 250px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: #4C4D60;
    outline: none;
    box-shadow: 0 11px 20px 2px #D9E3ED;
}
.cards h1 {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
.cards p {
    margin: 10px 0 20px;
    opacity: .8;
    color: gray;
    font-size: 15px;
}
.cards img {
    margin-top: 35px;
    width: 55px;
    align-self: flex-end;
}
.column-boxes {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

    /* FOR BORDERS */
.boxes .sup {
    border-top: 4px solid #43D3D3;
}
.boxes .column-boxes .team {
    border-top: 4px solid #EC5355;
}
.boxes .column-boxes .karma {
    border-top: 4px solid #FBAD4B;
}
.boxes .calc {
    border-top: 4px solid #529EF2;
}

    /*     Queries     */

@media (max-width: 1162px) {

    .big-father {
        margin: 0 auto;
        align-content: center;
        overflow:hidden;
        padding: 0 17px;
    }

    .heading {
        width: 100%;
        padding-top: 40px;
    }
    .heading h1 {
        font-size: 28px;
        line-height: 37px;
    }
    .heading .heading-p {
        width:inherit;
        font-size: 15px;
    }
    
    .boxes {
        flex-direction: column;
    }
    .boxes .cards {
        margin: 0 0 20px 0;
    }
    .column-boxes {
        gap: 0;
    }
}
